.offer-container{
    padding-top: 40px;
    height: auto;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.offer-section{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offer-title{
    width: 100%;
    display: flex;
    justify-content: center;
}

.text-box{
    color: #000;
    font-size: 46px;
}

.offer-icons{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}