.offer-container{
    padding-top: 50px;
    height: 840px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fafafa;
}

.offer-section{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.offer-title{
    width: 22%;
}

.text-box{
    color: #ffffff;
    font-size: 120px;
    margin-left: 10px;
    width: 80%;
}

.offer-icons{
    width: 65%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offer-icons-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 120px;
}

.blue-box{
    position: absolute;
    width: 430px;
    height: 710px;
    background-color: #006aff;
}

.text-description{
    margin-top: 24px;
    font-size: 30px;
    color: #FFFFFF;
    margin-left: 15px;
}

.custom-shape-divider-bottom-1629429941 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1629429941 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 141px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1629429941 .shape-fill {
    fill: #ffffff;
}