.decision-container{
    width: 100vw;
    height: 100vh;
    display: block;
    padding: 0;
}

.decision-section{
    display: flex;
    height: 100%;
}

.title-decision-section{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title-decision-section h1{
    width: 30%;
    color: #ffffff;
    font-size: 110px;
}

.boton-ir{
    margin-top: 30px;
    width: 150px;
    height: 54px;
    border-radius: 5px;
    border: none;
    font-size: 24px;
    background-color: #FED403;
    display: flex;
    color: black;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

@media screen and (min-width: 992px){
    .decision-container{
        width: 100vw;
        height: 100vh;
        display: block;
        padding: 0;
    }

    .decision-section{
        display: flex;
        height: 100%;
    }

    .title-decision-section{
        flex-grow: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: baseline;
        padding-left: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .title-decision-section h1{
        width: 100%;
        color: #ffffff;
        font-size: 50px;
    }

    .boton-ir{
        margin-top: 30px;
        width: 140px;
        height: 45px;
        border-radius: 5px;
        border: none;
        font-size: 20px;
        background-color: #FED403;
        display: flex;
        color: black;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
}