.view-image{
    display: flex;
}

.image-view-space{
    width: 60%;
    height: 480px;
    background-color: #fed403;
}

.description-and-buttons{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.image-description{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.image-description h2{
    margin-bottom: 20px;
    font-size: 24px;
}

.image-description p{
    font-size: 15px;
}

.images-buttons{
    display: flex;
    justify-content: space-between;
}

.images-buttons button{
    width: 47px;
    height: 47px;
    border: none;
    border-radius: 50%;
    background-color: black;
    color: #FFFFFF;
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    .image-view-space{
        width: 100%;
        height: 480px;
        background-color: #fed403;
    }

    .description-and-buttons{
        display: none;
    }
}

@media only screen and (min-width: 330px) and (max-width: 575px){
    .image-view-space{
        width: 100%;
        height: 350px;
        background-color: #fed403;
    }

    .description-and-buttons{
        display: none;
    }
}

@media only screen and (max-width: 329px){
    .image-view-space{
        width: 100%;
        height: 200px;
        background-color: #fed403;
    }

    .description-and-buttons{
        display: none;
    }
}