@media only screen and (min-width: 1200px) and (max-width: 1399px){
    .fab-gallery{
        width: 130px;
        height: 120px;
        background-color: #fed403;
    }

    .rep-gallery{
        width: 235px;
        height: 180px;
        border-radius: 10px;
        background-color: #fed403;
    }
}