.about-container{
    height: 900px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.about-section{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desc-box{
    width: 510px;
    height: auto;
    text-align: justify;
}

.desc-title{
    width: 60%;
}

.business-desc{
    margin-top: 30px;
    font-size: 26px;
}

.slider {
    overflow: hidden;
    display: flex;
}

.slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

.imagen{
    width: 20%;
    float: left;
}