.about-container{
    width: 100%;
    height: 800px;
}

.about-section{
    background-color: #FED403;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(254, 212, 3, 0.5),
    rgba(254, 212, 3, 0.5)),
    url("/src/assets/images/about-image.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 800px;
}

.desc-box{
    background-color: white;
    width: 510px;
    height: 84%;
    margin-right: 100px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
}

.business-desc{
    margin-top: 30px;
    font-size: 26px;
}