*{
    margin: 0;
    padding: 0;
}

.header-container{
    background-color: black;
    height: 100px;
    width: 100%;
    padding-top: 25px;
    display: flex;
    justify-content: center;
}

.header-section{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-section h1{
    color: white;
    font-size: 40px;
}

.list-links{
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.header-container-without-background{
    position: absolute;
    color: #fff;
    width: 90%;
    margin-left: 100px;
    margin-top: 40px;
}

.header-section-without-background{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-links-without-background{
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.list-links-without-background a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.list-links-without-background a:hover{
    cursor: pointer;
    color: #FED403;
}

ul{
    list-style-type: none;
}

.list-links a{
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.list-links p:hover{
    text-decoration-line: underline;
    text-decoration-color: #FED403;
}