.gallery-container{
    width: 100%;
    height: 1500px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

.gallery-title{
    margin-bottom: 40px;
}

.gallery-sections{
    width: 80%;
    height: 90%;
}

.gallery{
    height: 100%;
}

.gallery-row{
    display: flex;
    justify-content: space-between;
}