@media only screen and (min-width: 1400px){
    .image-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33%;
    }

    .image-container h3{
        margin-bottom: 14px;
        font-weight: lighter;
        color: white;
        font-size: 24px;
    }

    .image-box{
        display: flex;
        width: 100%;
        height: 450px;
        background: #fed403;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px){
    .image-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 32%;
    }

    .image-container h3{
        margin-bottom: 14px;
        font-weight: lighter;
        color: white;
        font-size: 20px;
    }

    .image-box{
        display: flex;
        width: 100%;
        height: 400px;
        background: #fed403;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .image-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-container h3{
        margin-bottom: 10px;
        font-weight: lighter;
        color: white;
    }

    .image-box{
        width: 345px;
        height: 370px;
        background: #fed403;
    }
}