@media screen and (min-width: 992px){
    .image-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-container h3{
        margin-bottom: 10px;
        font-weight: lighter;
        color: white;
    }

    .image-box{
        width: 345px;
        height: 370px;
        background: #fed403;
    }
}