.first-title{
    margin-bottom: 25px;
    width: 700px;
    background-color: #FED403;
    height: 18px;
    display: flex;
    border-radius: 15px;
}

.sub-title{
    width: 130px;
    background-color: #FED403;
    height: 10px;
    display: flex;
    margin-bottom: 10px;
    margin-top: 20px;
}

.min-picture{
    width: 300px;
    background-color: #FED403;
    height: 7px;
    display: flex;
    margin-top: 10px;
}